<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="el-formulario">
 <template>
   <style>
     :host {
       display: block;
     }
     .flag{
       width: 240px;
       height: 540px;
     }
  </style>
  <div id="form" style="display:;">
   <div class="container">
     <div class="row">
       <h1 class="col-lg-12"> Bienvenido, ingresa los siguientes datos:</h1></br><HR>
      <p><pre>Identificacion:   <input type="Number" name="Number" size="15" placeholder="Identificacion" value="{{id::input}}" style="width:350px"></pre>
      </p>
      <p><pre>Nombre:           <input type="String" name="Nombre" size="20" placeholder="Nombre" value="{{nombre::input}}"style="width:350px"></pre>
      </p>
      <pre>Apellido:         <input type="String" name="Apellido" size="20" placeholder="Apellido" value="{{apellido::input}}" style="width:350px"></pre>
        <p><pre>Fecha:            <input type="date" value="{{fecha::input}}" style="width:350px" "height:1px"></pre>
        <p><pre>Ciudad:           <select name="c" value="{{ciudad::input}}" style="width:360px">
          <option value="-1">Seleccione</option>
          <option >Bogota D.C.</option>
          <option >Medellin</option>
          <option >Cali</option>
          <option >Barranquilla</option>
          <option >Cartagena</option>
          <option >Soledad</option>
          <option >Cucuta</option>
          <option >Soacha</option>
          <option >Ibagué</option>
          <option >Bucaramanga</option>
          <option >Villavicencio</option>
          <option >Santa Marta</option>
          <option >Bello</option>
          <option >Valledupar</option>
          <option >Pereira</option>
          <option >Buenaventura</option>
          <option >Pasto</option>
          <option >Manizales</option>
          <option >Montería</option>
          <option >Neiva</option>
        </select> </pre>
        <p> <pre>Email:            <input type="email" id="txtEmail"placeholder="abcd@efg.jkl" value="{{email::input}}" style="width:350px"></pre>
        <p><pre>Direccion:        <input type="text" name="direccion" size="60" placeholder="Escriba su Direccion" value="{{direccion::input}}" style="width:350px"></pre>
         <p><pre>Contraseña:       <input type="password" size="40" placeholder="Password" value="{{password::input}}"placeholder="Ingrese una contraseña" style="width:350px"></pre>
         </p>
        </p><HR></br>
       <button class="btn btn-info" on-click="elFormulario" type="button" name="button" >Enviar</button>
       <button class="btn btn-warning" on-click="logout">Logout</button>
     </div>
   </div>
  </div>
  <div id="errores" style="display:none;">
    <h2 class="col-md-15" style="color:red;">[[error]]</h2>
  </div>
 </template>

 <script>

   class ElFormulario extends Polymer.Element {
     static get is() { return 'el-formulario'; }
     static get properties() {
       return {
         id: {
           type: Number,
           notify:true
         },
         nombre: {
           type: String,
           notify:true
         },
         apellido: {
           type: String,
           notify:true
         },
         fecha: {
           type: String,
           notify:true
         },
         ciudad: {
           type: String,
           notify:true
         },
         email: {
           type: String,
           notify:true
         },
         password:{
           type: String,
           notify:true
         },
         respuesta: {
           type: Object
         },
          error: {
           type: String,
         },
         formu: {
           type: Array,
           notify:true
         }
       }
     }

     elFormulario(){

       if (this.id == undefined ||this.nombre == undefined || this.apellido == undefined || this.fecha == undefined || this.ciudad == undefined || this.email == undefined || this.direccion == undefined ||this.password == undefined){
         this.$.errores.style.display = "block";
         this.error = "Ingrese todos los datos ";
       }
       else if (this.id.toString().length > 15 || this.id == undefined){
         this.$.errores.style.display = "block";
         this.error = "la identificacion debe ser de maximo 15 posiciones ";
       } else {
          var datosForm = {};
          var datosForm = {
            "id" : this.id,
            "nombre" : this.nombre,
            "apellido" : this.apellido,
            "fecha" : this.fecha,
            "ciudad" : this.ciudad,
            "email" : this.email,
            "direccion" : this.direccion,
            "password" : this.password
           };

            console.log (datosForm);
            var body = JSON.stringify(datosForm);

            var request = new XMLHttpRequest();
            var url = "http://localhost:3000/Usuarios/nuevo";
            request.open("POST", url, false);
            request.setRequestHeader('Content-type','application/json; charset=utf-8');
            request.send(body);
            console.log('body'+ body);
            console.log(url);
            console.log(request.responseText);
            this.formu = JSON.parse(request.responseText);
            //console.log('retorno ' + this.formu);
            if (this.formu == ''){
              this.$.errores.style.display = "block";
              this.error = "Cliente ya existe";
            }else{
              this.$.errores.style.display = "block";
              this.error = "Cliente registado ok";  

            }


           }


      }
      logout(){
        this.$.form.style.display = "none";
        this.$.errores.style.display = "block";
        this.error = "Sesión Cerrada";
       }
 }

   window.customElements.define(ElFormulario.is, ElFormulario);
 </script>
</dom-module>
