<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/visor-usuario/visor-usuarios.html">
<link rel="import" href="/src/el-formulario/el-formulario.html">

<dom-module id="login-usuario">
 <template>
   <style>
     :host {
       display: block;
     }
     .flag{
       width: 140px;
       height: 140px;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<div id=hola>
   <div  class="row" >
    <h1 class="col-lg-12">BBVA</h1>
    <h8 class="col-lg-12"><p><input type="Number" name="Number" size="15" placeholder="Identificacion" value="{{id::input}}" style="width:200px" required></p>
     <p><input type="password" name="PASSWORD" size="15" placeholder="Password" value="{{password::input}}"  style="width:200px" required></p></h8>
     <h8 class="col-lg-12"><button class="btn btn-info" on-click="loginUsuario" type="button" name="button">LOGIN</button>
      <button class="btn btn-info" on-click="registrarse" type="button" name="button">Registrarse</button></p></h8>
    </div>
 </div>
 <div id=respuesta class="row">
   <table class="table table-borderless">
     <tbody>
       <template is="dom-repeat" items="{{clientes}}">
         <tr>
           <td><h2>Bienvenido a BBVA         [[item.nombre]] [[item.apellido]]</h2>
           </td>
           </tr>
       </template>
     </tbody>
   </table>
 </div>
<div id="formu" style="display:none;"><el-formulario></el-formulario></div>
<div id="vUsuarios" if{{visible}} style="display:none;"><visor-usuarios></visor-usuarios></div>
</div>

<div id="errores" style="display:none;">
  <h2 class="col-md-15" style="color:red;">[[error]]</h2>
</div>

 </template>

 <script>


   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         id: {
           type: Number,
           notify:true
         },
         password:{
           type: String,
           notify:true
         },
         respuesta: {
           type: Object
         },
         clientes:{
           type: Array,
           notify:true
         },
         visible: {type: Boolean, value: false},
         routing:{
           type: String,
           value: "login-usuario"
         },
         error: {
           type: String,
           notify:true
         }
       }
     }

     loginUsuario(){
       if (this.id == undefined  || this.password == undefined){
        this.visible = false;
        this.$.errores.style.display = "block";
        this.error = "Ingrese su identificación y su contraseña";
      }else{

       var request = new XMLHttpRequest();
       var url = "http://localhost:3000/Usuarios/login";
       request.open("POST", url, false);
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-Type", "application/json" );
       var loginData = {
         "id" : this.id,
         "password" : this.password
       };
       var body = JSON.stringify(loginData);
        console.log(body);
        request.send(body);
        this.clientes = JSON.parse(request.responseText);
        var longitud = this.clientes.length;
        if(this.clientes == ''){
          console.log("Cliente no existe o contraseña no valida");
          this.visible = false;
          this.$.errores.style.display = "block";
          this.error = "Cliente no existe o contraseña no valida";
        } else {
          this.visible = true;
          this.$.vUsuarios.style.display = "block";
          this.$.hola.style.display = "none";
          this.$.errores.style.display = "none";
          var idUsuario = this.id;
          sessionStorage.setItem("idUsuario", idUsuario);
       }
      }
    }
      registrarse() {
        this.$.formu.style.display = "block";
        this.$.hola.style.display = "none";

     }
 }


   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
