<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">

<dom-module id="visor-movimiento">
<template>
  <style>
    :host {
      display: block;
    }
    .flag{
      width: 240px;
      height: 540px;
    }
  </style>
<div id="formula" style="display:;">
  <div class="container">
    <div class="row">
      <h1 class="col-lg-12"> <b>  Ingrese los datos de su movimiento:</b></h1></br><HR>
        <p><pre><h3>Cuenta:      <input type="Number" name="cuenta" size="15" placeholder="cuenta" value="{{cuenta::input}}" style="width:350px"></h3></pre>
        <p><pre><h3>Fecha:       <input type="date" value="{{fecha::input}}" style="width:350px"></h3></pre>
     <p><pre><h3>Importe:     <input type="Number" name="imp" size="15" placeholder="valor de la transaccion" value="{{imp::input}}" style="width:350px"></h3></pre>
     <p><pre><h3>description: <input type="String" name="des" size="30" placeholder="Motivo de la tranasaccion" value="{{des::input}}" style="width:350px"></h3></pre>

       </p><HR></br>
      <button class="btn btn-info" on-click="moviCuentas" type="button" name="button" >Enviar</button>
      <button class="btn btn-warning" on-click="logout">Logout</button>
    </div>
  </div>
 </div>
 <div id="errores" style="display:none;">
  <h2 class="col-md-15" style="color:red;">[[error]]</h2>
 </div>
</template>

<script>
  /**
   * @customElement
   * @polymer comentario
   */

  class VisorMovimiento extends Polymer.Element {
    static get is() { return 'visor-movimiento'; }
    static get properties() {
      return {
        cuenta: {
          type: Number,
          notify:true
        },
        fecha: {
          type: Date,
          notify:true
        },
        imp: {
          type: Number,
          notify:true
        },
        des: {
          type: String,
          notify:true
        },
        formula: {
          type: Array,
          notify:true
        },
        respuesta: {
          type: Object
        }
      }
    }
    moviCuentas(){
        if (this.cuenta === undefined  || this.fecha === undefined  || this.imp === undefined  || this.des === undefined){
          this.$.errores.style.display = "block";
          this.error = "Ingrese todos los datos";
        }else{
        var datosFormula = {};
        var datosFormula = {
          "cuenta" : this.cuenta,
          "fecha" : this.fecha,
          "importe" : this.imp,
          "descripcion" : this.des
        };

        console.log (datosFormula);
        var body = JSON.stringify(datosFormula);
        console.log('body'+ body);
        var local = sessionStorage.getItem("idUsuario");
        var request = new XMLHttpRequest();
        var url = "http://localhost:3000/updatemovimiento/" + local;
        console.log(url);
        request.open("POST", url, false);
        request.setRequestHeader('Content-type','application/json; charset=utf-8');
        request.send(body);
        this.formula = JSON.parse(request.responseText);
        console.log('retorno ' + this.formula);
        this.$.errores.style.display = "block";
        this.error = "Movimiento registado ok"; 
      }
   }

     logout(){
       this.$.formula.style.display = "none";
       this.$.errores.style.display = "block";
       this.error = "Sesión Cerrada";
    }

}


  window.customElements.define(VisorMovimiento.is, VisorMovimiento);
</script>
</dom-module>
