<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/visor-movimiento/visor-movimiento.html">


<dom-module id="visor-usuarios">
 <template>
   <style>
     :host {
       display: block;
     }
     .flag{
       width: 140px;
       height: 140px;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <div id="botones" class="row">
   <button class="btn btn-info" on-click="visorUsuario" type="button" name="button">Seleccione su Cuenta</button><pre>    </pre>

   <button class="btn btn-info" on-click="insmov" type="button" name="button">Nuevo Movimiento</button><pre>    </pre>
   <button class="btn btn-warning" on-click="logout">Logout</button>
 </div>
 <div id="cuentas" class="row">
   <select name="c" value="{{cuenta::input}}" style="width:360px" on-change="cargarMovimiento">
     <option value="-1">Seleccione</option>
       <template is="dom-repeat" items="{{clientes}}">
     <option value="[[item.cuenta]]">[[item.cuenta]]</option>
    </template>
  </select>


  </div>
  <div id="movimientos" style="display:block;" class="row">
    <table class="table table-striped" style="background-color:white;">
      <tbody>
        <template is="dom-repeat" items="{{resultado}}">
          <tr>
            <td>
               [[item.numero]]
            </td>
            <td>
               [[item.fecha]]
            </td>
            <td>
               [[item.importe]]
            </td>
            <td>
               [[item.descripcion]]
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
<div id="formula" style="display:none;"><visor-movimiento></visor-movimiento></div>
</div>
<div id="formula" style="display:none;"><visor-movimiento></visor-movimiento></div>
<div id="errores" style="display:none;">
 <h2 class="col-md-15" style="color:red;">[[error]]</h2>
</div>
</template>
 <script>

 class VisorUsuario extends Polymer.Element {
     static get is() { return 'visor-usuarios'; }
     static get properties() {
       return {
         clientes: {
           type: Array,
           notify:true
         },
         resultado: {
           type: Array,
           notify:true
         },
         noCargados:{
           type: Boolean,
           notify:true
         },
         respuesta: {
           type: Object,
         },
         cuenta: {
           type: String,
           notify:true
         },
         movimientos: {
           type: Array,
           notify:true
         },
         resultado1: {
           type: Array,
           notify:true
         },
         error: {
           type: String,
           notify:true
         }
       }
     }
     visorUsuario(){
     var local = sessionStorage.getItem("idUsuario");
     var url = "http://localhost:3000/movimientos/" + local ;
     var request = new XMLHttpRequest();
      request.open("GET", url, false);
      request.setRequestHeader("Accept", "application/json");
      request.send();
      this.clientes= JSON.parse(request.responseText);
      console.log(this.clientes);
      console.log('local' + url);
      this.noCargados = false;
     }


     cargarMovimiento(){
       var cuentaSel = this.cuenta;
        var local = sessionStorage.getItem("idUsuario");
       var url = "http://localhost:3000/consultamovimiento/" + local + "/" + cuentaSel;
       var request = new XMLHttpRequest();
       request.open("GET", url, false);
       request.setRequestHeader("Accept", "application/json");
       request.send();
       this.movimientos= JSON.parse(request.responseText);
       var longitud = this.movimientos[0].listado.length;
       console.log('longitud' + longitud);
       console.log('mov' + this.movimientos);
       this.resultado = [];
       for (var i = 0; i < longitud; i++) {
        console.log('i ' + i);
          this.resultado[i] = this.movimientos[0].listado[i];
       }
       console.log(this.resultado);
       this.resultado1 = JSON.stringify(this.resultado);
       console.log(this.resultado1);

       console.log('consulta' + url);
       this.noCargados = false;

      }

      insmov(){
       this.$.cuentas.style.display = "none";
       this.$.botones.style.display = "none";
       this.$.movimientos.style.display = "none";
       this.$.formula.style.display = "block";
       var local = sessionStorage.getItem("idUsuario");
       var idUsuario = local;
       sessionStorage.setItem("idUsuario", idUsuario);
      }

      logout(){
        this.$.cuentas.style.display = "none";
        this.$.botones.style.display = "none";
        this.$.movimientos.style.display = "none";
        this.$.errores.style.display = "block";
        this.error = "Sesión Cerrada";
      }

}

   window.customElements.define(VisorUsuario.is, VisorUsuario);
 </script>
</dom-module>
